*{
    margin: 0;
    padding: 0;
}

.App{
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5%;
}
.hovering{
    width: 200px;
    background-color: white;
    border: 0;
    margin: 10px 0;
    padding: 7px;
}

.elements{
    position: absolute;
    left: 20vw;
}